<section class="grid grid-cols-12 gap-2 p-1">
    <div class="col-span-6 p-2 text-xl text-center">
        <h1>For 10+ years now we have been responsible for your project and we are proud of it!</h1>
    </div>
    <div class="col-span-6">
    <div class="h-full grid grid-cols-3 grid-rows-2 gap-1">
        <div class="col-span-1 row-span-1">
            <div class="stat text-center">
                <div class="stat-figure text-indigo-500">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="inline-block w-8 h-8 stroke-current"
                    >
                        <path
                            d="M17.895 3.553A1.001 1.001 0 0 0 17 3H7c-.379 0-.725.214-.895.553l-4 8a1 1 0 0 0 0 .895l4 8c.17.338.516.552.895.552h10c.379 0 .725-.214.895-.553l4-8a1 1 0 0 0 0-.895l-4-7.999zM19.382 11h-7.764l-3-6h7.764l3 6zM4.118 12 7 6.236 9.882 12 7 17.764 4.118 12zm12.264 7H8.618l3-6h7.764l-3 6z"
                        ></path>
                    </svg>
                </div>
                <div class="stat-title">Total Client</div>
                <div class="stat-value text-indigo-500 text-7xl">200+</div>
                <div class="stat-desc">&nbsp;</div>
            </div>
        </div>
        <div class="col-span-1 row-span-1">
            <div class="stat text-center">
                <div class="stat-figure text-indigo-500">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="inline-block w-8 h-8 stroke-current"
                    >
                        <path
                            d="M18 2H6c-1.103 0-2 .897-2 2v18l8-4.572L20 22V4c0-1.103-.897-2-2-2zm0 16.553-6-3.428-6 3.428V4h12v14.553z"
                        ></path>
                    </svg>
                </div>
                <div class="stat-title">Successful Project</div>
                <div class="stat-value text-indigo-500 text-7xl">100+</div>
                <div class="stat-desc">&nbsp;</div>
            </div>
        </div>
        <div class="col-span-1 row-span-1">
            <div class="stat text-center">
                <div class="stat-figure text-indigo-500">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="inline-block w-8 h-8 stroke-current"
                    >
                        <path
                            d="M12 2A10.13 10.13 0 0 0 2 12a10 10 0 0 0 4 7.92V20h.1a9.7 9.7 0 0 0 11.8 0h.1v-.08A10 10 0 0 0 22 12 10.13 10.13 0 0 0 12 2zM8.07 18.93A3 3 0 0 1 11 16.57h2a3 3 0 0 1 2.93 2.36 7.75 7.75 0 0 1-7.86 0zm9.54-1.29A5 5 0 0 0 13 14.57h-2a5 5 0 0 0-4.61 3.07A8 8 0 0 1 4 12a8.1 8.1 0 0 1 8-8 8.1 8.1 0 0 1 8 8 8 8 0 0 1-2.39 5.64z"
                        ></path>
                        <path
                            d="M12 6a3.91 3.91 0 0 0-4 4 3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4zm0 6a1.91 1.91 0 0 1-2-2 1.91 1.91 0 0 1 2-2 1.91 1.91 0 0 1 2 2 1.91 1.91 0 0 1-2 2z"
                        ></path>
                    </svg>
                </div>
                <div class="stat-title">Senior Enginners</div>
                <div class="stat-value text-indigo-500 text-7xl">70%</div>
                <div class="stat-desc">&nbsp;</div>
            </div>
        </div>

        <div class="col-span-1 row-span-1">
            <div class="stat text-center">
                <div class="stat-figure text-indigo-500">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="inline-block w-8 h-8 stroke-current"
                    >
                        <path
                            d="M12 2A10.13 10.13 0 0 0 2 12a10 10 0 0 0 4 7.92V20h.1a9.7 9.7 0 0 0 11.8 0h.1v-.08A10 10 0 0 0 22 12 10.13 10.13 0 0 0 12 2zM8.07 18.93A3 3 0 0 1 11 16.57h2a3 3 0 0 1 2.93 2.36 7.75 7.75 0 0 1-7.86 0zm9.54-1.29A5 5 0 0 0 13 14.57h-2a5 5 0 0 0-4.61 3.07A8 8 0 0 1 4 12a8.1 8.1 0 0 1 8-8 8.1 8.1 0 0 1 8 8 8 8 0 0 1-2.39 5.64z"
                        ></path>
                        <path
                            d="M12 6a3.91 3.91 0 0 0-4 4 3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4zm0 6a1.91 1.91 0 0 1-2-2 1.91 1.91 0 0 1 2-2 1.91 1.91 0 0 1 2 2 1.91 1.91 0 0 1-2 2z"
                        ></path>
                    </svg>
                </div>
                <div class="stat-title">Year’s client engagement</div>
                <div class="stat-value text-indigo-500 text-7xl">2+</div>
                <div class="stat-desc">&nbsp;</div>
            </div>
        </div>
        <div class="col-span-1 row-span-1">
            <div class="stat text-center">
                <div class="stat-figure text-indigo-500">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="inline-block w-8 h-8 stroke-current"
                    >
                        <path
                            d="M17.895 3.553A1.001 1.001 0 0 0 17 3H7c-.379 0-.725.214-.895.553l-4 8a1 1 0 0 0 0 .895l4 8c.17.338.516.552.895.552h10c.379 0 .725-.214.895-.553l4-8a1 1 0 0 0 0-.895l-4-7.999zM19.382 11h-7.764l-3-6h7.764l3 6zM4.118 12 7 6.236 9.882 12 7 17.764 4.118 12zm12.264 7H8.618l3-6h7.764l-3 6z"
                        ></path>
                    </svg>
                </div>
                <div class="stat-title">Countries including, USA</div>
                <div class="stat-value text-indigo-500 text-7xl">20+</div>
                <div class="stat-desc">&nbsp;</div>
            </div>
        </div>
        <div class="col-span-1 row-span-1">
                        <div class="stat text-center">
                <div class="stat-figure text-indigo-500">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="inline-block w-8 h-8 stroke-current"
                    >
                        <path
                            d="M18 2H6c-1.103 0-2 .897-2 2v18l8-4.572L20 22V4c0-1.103-.897-2-2-2zm0 16.553-6-3.428-6 3.428V4h12v14.553z"
                        ></path>
                    </svg>
                </div>
                <div class="stat-title">Satisfaction rate</div>
                <div class="stat-value text-indigo-500 text-7xl">100%</div>
                <div class="stat-desc">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
</section>

<!-- <div class="stats shadow">
            <div class="stat">
                <div class="stat-figure text-indigo-500">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="inline-block w-8 h-8 stroke-current"
                    >
                        <path
                            d="M17.895 3.553A1.001 1.001 0 0 0 17 3H7c-.379 0-.725.214-.895.553l-4 8a1 1 0 0 0 0 .895l4 8c.17.338.516.552.895.552h10c.379 0 .725-.214.895-.553l4-8a1 1 0 0 0 0-.895l-4-7.999zM19.382 11h-7.764l-3-6h7.764l3 6zM4.118 12 7 6.236 9.882 12 7 17.764 4.118 12zm12.264 7H8.618l3-6h7.764l-3 6z"
                        ></path>
                    </svg>
                </div>
                <div class="stat-title">Total Client</div>
                <div class="stat-value text-indigo-500 text-7xl">200+</div>
                <div class="stat-desc">&nbsp;</div>
            </div>

            <div class="stat">
                <div class="stat-figure text-indigo-500">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="inline-block w-8 h-8 stroke-current"
                    >
                        <path
                            d="M18 2H6c-1.103 0-2 .897-2 2v18l8-4.572L20 22V4c0-1.103-.897-2-2-2zm0 16.553-6-3.428-6 3.428V4h12v14.553z"
                        ></path>
                    </svg>
                </div>
                <div class="stat-title">Successful Project</div>
                <div class="stat-value text-indigo-500 text-7xl">100+</div>
                <div class="stat-desc">&nbsp;</div>
            </div>

            <div class="stat">
                <div class="stat-figure text-indigo-500">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="inline-block w-8 h-8 stroke-current"
                    >
                        <path
                            d="M12 2A10.13 10.13 0 0 0 2 12a10 10 0 0 0 4 7.92V20h.1a9.7 9.7 0 0 0 11.8 0h.1v-.08A10 10 0 0 0 22 12 10.13 10.13 0 0 0 12 2zM8.07 18.93A3 3 0 0 1 11 16.57h2a3 3 0 0 1 2.93 2.36 7.75 7.75 0 0 1-7.86 0zm9.54-1.29A5 5 0 0 0 13 14.57h-2a5 5 0 0 0-4.61 3.07A8 8 0 0 1 4 12a8.1 8.1 0 0 1 8-8 8.1 8.1 0 0 1 8 8 8 8 0 0 1-2.39 5.64z"
                        ></path>
                        <path
                            d="M12 6a3.91 3.91 0 0 0-4 4 3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4zm0 6a1.91 1.91 0 0 1-2-2 1.91 1.91 0 0 1 2-2 1.91 1.91 0 0 1 2 2 1.91 1.91 0 0 1-2 2z"
                        ></path>
                    </svg>
                </div>
                <div class="stat-title">Senior Enginners</div>
                <div class="stat-value text-indigo-500 text-7xl">70%</div>
                <div class="stat-desc">&nbsp;</div>
            </div>
        </div> -->
