<div class="flex items-center justify-center">
    <div class="relative bg-white w-2/3 mt-8 p-4 rounded-3xl shadow-2xl text-center flex items-center justify-center">
        <section class="grid grid-cols-6">
            <div class="col-span-2">
                <img
                    class="rounded-full w-48 h-48 mb-4"
                    src="https://images.prothomalo.com/prothomalo-english%2F2023-07%2F189bd66e-8e6f-42cb-acba-9f007ac9be0b%2Fprothomalo_bangla_2023_07_b221b13b_295e_4db2_94a4_2f1c17882e5f_b2498b8a_86c1_4f5e_a029_acd28e235300_.webp?rect=0%2C0%2C1280%2C720&auto=format%2Ccompress&fmt=webp&dpr=1.0&format=webp&w=480"
                    alt="Profile Picture"
                />
            </div>
            <div class="col-span-4">
                <div class="flex items-center justify-center">
                    <div class="text-left mt-4">
                        <h1 class="font-bold mb-1">Sakib All Hassan</h1>
                        <p class="text-gray-500">Bangladeshi cricketer and politician</p>
                        <p class="text-gray-500 mt-8">
                            “It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged."
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="flex items-center justify-center">
    <div class="relative bg-white w-1/2 mt-8 p-2 rounded-3xl shadow-2xl text-center flex items-center justify-center">
        <section class="grid grid-cols-6">
            <div class="col-span-2">
                <img
                    class="rounded-full w-48 h-48 mb-4"
                    src="https://images.prothomalo.com/prothomalo-english%2F2023-07%2F189bd66e-8e6f-42cb-acba-9f007ac9be0b%2Fprothomalo_bangla_2023_07_b221b13b_295e_4db2_94a4_2f1c17882e5f_b2498b8a_86c1_4f5e_a029_acd28e235300_.webp?rect=0%2C0%2C1280%2C720&auto=format%2Ccompress&fmt=webp&dpr=1.0&format=webp&w=480"
                    alt="Profile Picture"
                />
            </div>
            <div class="col-span-4">
                <div class="flex items-center justify-center">
                    <div class="text-left mt-4">
                        <h1 class="text-xl font-bold mb-2">Sakib All Hassan</h1>
                        <p class="text-gray-500">Bangladeshi cricketer and politician</p>
                        <p class="text-gray-500 mt-8">
                            “It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged."
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="flex items-center justify-center">
    <div class="relative bg-white w-1/2 mt-8 p-2 rounded-3xl shadow-2xl text-center flex items-center justify-center">
        <section class="grid grid-cols-6">
            <div class="col-span-2">
                <img
                    class="rounded-full w-48 h-48 mb-4"
                    src="https://images.prothomalo.com/prothomalo-english%2F2023-07%2F189bd66e-8e6f-42cb-acba-9f007ac9be0b%2Fprothomalo_bangla_2023_07_b221b13b_295e_4db2_94a4_2f1c17882e5f_b2498b8a_86c1_4f5e_a029_acd28e235300_.webp?rect=0%2C0%2C1280%2C720&auto=format%2Ccompress&fmt=webp&dpr=1.0&format=webp&w=480"
                    alt="Profile Picture"
                />
            </div>
            <div class="col-span-4">
                <div class="flex items-center justify-center">
                    <div class="text-left mt-4">
                        <h1 class="text-xl font-bold mb-2">Sakib All Hassan</h1>
                        <p class="text-gray-500">Bangladeshi cricketer and politician</p>
                        <p class="text-gray-500 mt-8">
                            “It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged."
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="flex items-center justify-center">
    <div class="relative bg-white w-1/2 mt-8 p-2 rounded-3xl shadow-2xl text-center flex items-center justify-center">
        <section class="grid grid-cols-6">
            <div class="col-span-2">
                <img
                    class="rounded-full w-48 h-48 mb-4"
                    src="https://images.prothomalo.com/prothomalo-english%2F2023-07%2F189bd66e-8e6f-42cb-acba-9f007ac9be0b%2Fprothomalo_bangla_2023_07_b221b13b_295e_4db2_94a4_2f1c17882e5f_b2498b8a_86c1_4f5e_a029_acd28e235300_.webp?rect=0%2C0%2C1280%2C720&auto=format%2Ccompress&fmt=webp&dpr=1.0&format=webp&w=480"
                    alt="Profile Picture"
                />
            </div>
            <div class="col-span-4">
                <div class="flex items-center justify-center">
                    <div class="text-left mt-4">
                        <h1 class="text-xl font-bold mb-2">Sakib All Hassan</h1>
                        <p class="text-gray-500">Bangladeshi cricketer and politician</p>
                        <p class="text-gray-500 mt-8">
                            “It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged."
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
