<div class="relative">
  <div class="section-title">
    <h2>Services</h2>
    <span>We Offer</span>
    <p>We realize that every business is unique and has its own set of requirements. That’s why we offer customized web
      development</p>
  </div>


  <!-- <div class="grid grid-cols-2 gap-6 items-start">
    @for (item of serviceContent; track $index) {
    <div class="service-border p-1 rounded-full col-span-2 lg:col-span-1" #border>

      <div class="bg-[#000000e0] rounded-full w-full h-full pl-2 pr-8 py-1" #bg>

        <div class="flex justify-between items-center" (click)="toggleAnswer(description,border,bg,icon)">
          <div class="flex justify-start items-center gap-4">
            <div class=" w-12 md:w-16 md:h-16 h-12 icon-border p-1 rounded-full">
              <img [src]="item.image_path" alt=""
                class="bg-[#000000e0] rounded-full p-1.5 sm:p-2 w-full h-full object-contain">
            </div>
            <p class="text-base md:text-2xl">{{item.title}}</p>
          </div>
          <span class="text-2xl sm:text-3xl md:text-5xl leading-none font-bold" #icon>+</span>
        </div>

        <div class="h-0 overflow-y-hidden" #description>
          <p class="text-base w-4/5 mx-auto py-5 text-center">{{item.description}}</p>
        </div>

      </div>

    </div>
    }
  </div> -->

  <div class="flex justify-center items-center md:items-start flex-wrap gap-5">
    @for (item of serviceContent; track $index) {

    <div class="service-border p-0.5 w-full md:w-[45%]" [ngClass]="item.isExpanded? 'rounded-xl':'rounded-full'">
      <div class="bg-[#000000e0] w-full h-full pl-1.5 pr-4 py-1"
        [ngClass]="item.isExpanded? 'rounded-xl':'rounded-full'">

        <div class="flex justify-between" [ngClass]="item.isExpanded? 'items-start':'items-center'"
          (click)="toggleAnswer(item)">

          <div class="flex justify-start gap-2" [ngClass]="item.isExpanded? 'items-start':'items-center'">

            <div class=" w-10 md:w-16 md:h-16 h-10 icon-border p-1 rounded-full flex-shrink-0">
              <img [src]="item.image_path" class="bg-[#000000e0] rounded-full p-1  w-full h-full object-contain">
            </div>
            <span>
              <p class="text-base font-bold md:text-2xl" [ngClass]="item.isExpanded? 'mt-1.5 md:mt-2.5':'' ">{{item.title}}</p>
              <div class="overflow-hidden" [ngClass]="item.isExpanded? 'max-h-56':'max-h-0'">
                <p class="text-base my-2">{{item.description}}</p>
              </div>
            </span>
          </div>
          <span class="text-2xl sm:text-3xl md:text-5xl inline-block font-bold leading-none"  [ngClass]="item.isExpanded? 'mt-1.5 sm:mt-0':'md:-mt-1.5' ">{{item.isExpanded? '-':'+'}}</span>
        </div>
      </div>
    </div>
    }
  </div>


  <img src="/Simple Law Firm Facebook Post (15).png" alt=""
    class="absolute -top-16 -left-[14rem] w-[17rem] h-56 rotate-[102deg] opacity-10">


</div>
