.service-border {
  background: radial-gradient(80.38% 222.5% at -13.75% -12.36%, #98F9FF 0%, rgba(255, 255, 255, 0) 100%),
    radial-gradient(80.69% 208.78% at 108.28% 112.58%, #EABFFF 0%, rgba(135, 38, 183, 0) 100%);
}


.icon-bg {
  background: linear-gradient(0deg, rgba(49, 48, 54, 0.3), rgba(49, 48, 54, 0.3)),
    linear-gradient(135.86deg, rgba(177, 177, 177, 0.32) 5.24%, rgba(54, 53, 103, 0.2) 51.01%);
}

.icon-border {
  background: linear-gradient(168.01deg, rgba(255, 255, 255, 0.2) -9.63%, rgba(255, 255, 255, 0) 100.36%);
}
