<section class="pt-8 pb-14" id="home">
  <app-hero></app-hero>
</section>
<hr class="border-t border-gray-400 opacity-45">
<section>
  <app-stats></app-stats>
</section>
<hr class="border-t border-gray-400 opacity-45">

<section class="container mx-auto px-4 pt-4 pb-24" id="services">
  <app-our-services></app-our-services>
</section>
<hr class="border-t border-gray-400 opacity-45">
<section class="container mx-auto px-4" id="projects">
  <app-our-projects></app-our-projects>
</section>
<hr class="border-t border-gray-400 opacity-45">
<section class="pt-4 pb-20 container mx-auto px-4">
<app-testimonial></app-testimonial>
</section>
<hr class="border-t border-gray-400 opacity-45">
<section class="pt-4 pb-20 container mx-auto px-4" id="team">
  <app-our-team></app-our-team>
  </section>
  <hr class="border-t border-gray-400 opacity-45">
<section class="pb-24 lg:pb-28 px-4">
  <app-faq></app-faq>
</section>
<hr class="border-t border-gray-400 opacity-45" id="contact-us">
<section class="container mx-auto px-4 pb-20">
<app-contact-us></app-contact-us>
</section>


