<section class="pb-20 pt-12" id="home">
    <app-banner-four></app-banner-four>
</section>
<hr class="border-t border-gray-400 opacity-45" />
<!-- <section>
    <app-statistics-three></app-statistics-three>
</section> -->
<hr class="border-t border-gray-400 opacity-45" />
<section class="container mx-auto px-4 pb-32 pt-16" id="services">
    <app-our-services-two></app-our-services-two>
</section>
<hr class="border-t border-gray-400 opacity-45" />
<section class="container mx-auto px-4" id="projects">
    <app-portfolio-two></app-portfolio-two>
</section>
<hr class="border-t border-gray-400 opacity-45" />
<section class="container mx-auto px-4 pb-28 pt-16">
    <app-testimonial-two></app-testimonial-two>
</section>
<hr class="border-t border-gray-400 opacity-45" />
<!-- <section class="container mx-auto px-4 pb-28 pt-16" id="team">
    <app-our-team-two></app-our-team-two>
</section> -->
<hr class="border-t border-gray-400 opacity-45" />
<section class="px-4 pb-28 pt-12 lg:pb-32" id="faq">
    <app-faq-two></app-faq-two>
</section>
<hr class="border-t border-gray-400 opacity-45" id="contact-us" />
<section class="container mx-auto px-4 pb-24 pt-12">
    <app-contact-us></app-contact-us>
</section>
