.texture-before{
  position: relative;
}
.texture-before::before {
  content: "";
  display: block;
  width: 50%;
  height: 8rem;
  background-image: url('/texture8.png');
  background-size: contain;
  background-position: left center;
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  opacity: 0.3;
  left: 0;
}

.texture-before::after{
  content: "";
  display: block;
  width: 50%;
  height: 8rem;
  background-image: url('/texture8.png');
  background-size: contain;
  background-position: left center;
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;
}
