<footer class="relative">
  <div class="flex justify-center sm:justify-evenly xl:justify-between flex-col sm:flex-row items-center gap-5 pt-12 pb-6 md:pt-24 container mx-auto">
    <img src="./../../../../../assets/mattrika_logo.png" alt="Mattrika Technologies Logo" class="w-44 md:w-48 cursor-pointer" routerLink="/" >
    <p class="text-xl md:text-2xl text-center sm:text-left">© 2025 Mattrika Technologies</p>

    <div class="space-x-2 md:space-x-3 flex justify-center sm:justify-start">
      <a href="https://www.linkedin.com/company/mattrikatech" target="_blank">      <button class="text-xl p-1 border-2 border-white rounded-full bx bxl-facebook m-0 leading-none" ></button></a>
      <a href="https://www.facebook.com/MattrikaTech" target="_blank">      <button class="text-xl p-1 border-2 border-white rounded-full bx bxl-linkedin m-0 leading-none"></button></a>


    </div>
  </div>

  <div class="absolute top-0 left-0 w-1/2 h-32 bg-[url('/texture8.png')] bg-contain bg-repeat-x opacity-30"></div>
  <div class="absolute top-0 right-0 w-1/2 h-32 bg-[url('/texture8.png')] bg-contain bg-repeat-x opacity-30"></div>
</footer>
