<footer class="relative">
    <div
        class="container mx-auto flex flex-col items-center justify-center gap-5 pb-6 pt-12 sm:flex-row sm:justify-evenly md:pt-24 xl:justify-between"
    >
        <img
            src="./../../../../../assets/mattrika_logo.png"
            alt="Mattrika Technologies Logo"
            class="w-44 cursor-pointer md:w-48"
            routerLink="/"
        />
        <p class="text-center text-xl sm:text-left md:text-2xl">© 2025 Mattrika Technologies</p>

        <div class="flex justify-center space-x-2 sm:justify-start md:space-x-3">
            <a href="https://www.facebook.com/MattrikaTech" target="_blank">
                <button class="bx bxl-facebook m-0 rounded-full border-2 border-white p-1 text-xl leading-none"></button
            ></a>
            <a href="https://www.linkedin.com/company/mattrikatech" target="_blank">
                <button class="bx bxl-linkedin m-0 rounded-full border-2 border-white p-1 text-xl leading-none"></button
            ></a>
        </div>
    </div>

    <div class="absolute left-0 top-0 h-32 w-1/2 bg-[url('/texture8.png')] bg-contain bg-repeat-x opacity-30"></div>
    <div class="absolute right-0 top-0 h-32 w-1/2 bg-[url('/texture8.png')] bg-contain bg-repeat-x opacity-30"></div>
</footer>
