<footer class="body-font bg-black-500 text-gray-600">
    <div class="container mx-auto flex flex-col items-center px-5 py-8 sm:flex-row">
        <a class="title-font flex items-center justify-center font-medium text-gray-900 md:justify-start">
            <img
                src="./../../../../../assets/Mattrika_transparent.png"
                alt="logo"
                class="h-16 w-auto rounded bg-white p-2"
            />
        </a>
        <p class="mt-4 text-sm text-white sm:ml-4 sm:mt-0 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:pl-4">
            © {{year}} Mattrika Technologies
        </p>
        <span class="mt-4 inline-flex justify-center sm:ml-auto sm:mt-0 sm:justify-start">
            <a
                href="https://www.facebook.com/MattrikaTech"
                target="_blank"
                class="cursor-pointer text-white transition-colors duration-300 hover:text-teal-500"
            >
                <svg
                    fill="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="h-5 w-5"
                    viewBox="0 0 24 24"
                >
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
            </a>
            <a
                href="https://www.linkedin.com/company/mattrikatech"
                class="ml-3 cursor-pointer text-white  transition-colors duration-300 hover:text-teal-500"
            >
                <svg
                    fill="currentColor"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="0"
                    class="h-5 w-5"
                    viewBox="0 0 24 24"
                >
                    <path
                        stroke="none"
                        d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
                    ></path>
                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
            </a>
        </span>
    </div>
</footer>
