<section class="mb-24 bg-[#f5f7fa]">
    <div class="container mx-auto px-5 py-24">
        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-12 xl:col-span-5">
                <div>
                    <h1 class="title-font text-black mb-4 text-2xl font-medium sm:text-5xl">FAQs</h1>
                    <p class="mx-auto text-base leading-relaxed">Do you have any additional questions or concerns?</p>
                </div>
            </div>
            <div class="col-span-12 xl:col-span-7">
                <div id="accordion-collapse" data-accordion="collapse">
                    @for (item of faqData; track item.id) {
                        <h2 id="{{ item.question }}">
                            <button
                                type="button"
                                class="flex w-full items-center justify-between gap-3 border-t border-gray-200 bg-transparent px-2 py-5 font-normal text-gray-700"
                                [attr.data-accordion-target]="'#' + item.id"
                                aria-expanded="false"
                                [attr.aria-controls]="item.id"
                            >
                                <span class="inline-block text-sm sm:text-base text-gray-700">{{ item.question }}</span>
                                <i data-accordion-icon class=" bx bx-chevron-up shrink-0 rotate-180 text-xl"></i>
                            </button>
                        </h2>
                        <div id="{{ item.id }}" class="hidden border-t-0" [attr.aria-labelledby]="item.question">
                            <div class="px-2">
                                <p class="pb-5 text-sm text-gray-700">
                                    {{ item.answer }}
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
