<div class="relative bg-white mt-32 p-4">
    <div class="flex items-center justify-center">
        <div class="text-gray-800">
            <h1 class="text-center text-4xl mb-8 p-2">Services We Provid</h1>
            <div class="col-span-4 p-4">
                <div class="h-full grid grid-cols-2 grid-rows-2 my-4 gap-2">
                    <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
                        <div class="stat">
                            <div class="stat-title text-xl font-semibold">Software Development</div>
                            <div class="stat-value text-lg">
                                It is a long established fact that a reader will be distracted by the readable content
                                of a page when looking at its layout
                            </div>
                            <a
                                [routerLink]="homeRoutes.softwareDevelopment.path"
                                class="text-teal-600 relative inline-block overflow-hidden animate-pulse"
                                >read more &gt;&gt;&gt;</a
                            >
                        </div>
                    </div>
                    <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
                        <div class="stat">
                            <div class="stat-title text-xl font-semibold">Software Testing</div>
                            <div class="stat-value text-lg">
                                It is a long established fact that a reader will be distracted by the readable content
                                of a page when looking at its layout
                            </div>
                        </div>
                        <a
                            [routerLink]="homeRoutes.softwareTesting.path"
                            class="text-teal-600 relative inline-block overflow-hidden animate-pulse"
                            >read more >>></a
                        >
                    </div>
                    <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
                        <div class="stat">
                            <div class="stat-title text-xl font-semibold">UI/UX Design</div>
                            <div class="stat-value text-lg">
                                It is a long established fact that a reader will be distracted by the readable content
                                of a page when looking at its layout
                            </div>
                            <a
                                [routerLink]="homeRoutes.uiDesign.path"
                                class="text-teal-600 relative inline-block overflow-hidden animate-pulse"
                                >read more &gt;&gt;&gt;</a
                            >
                        </div>
                    </div>
                    <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
                        <div class="stat">
                            <div class="stat-title text-xl font-semibold">Custom Software Development</div>
                            <div class="stat-value text-lg">
                                It is a long established fact that a reader will be distracted by the readable content
                                of a page when looking at its layout
                            </div>
                            <a
                                [routerLink]="homeRoutes.customSoftwareDevelopment.path"
                                class="text-teal-600 relative inline-block overflow-hidden animate-pulse"
                                >read more &gt;&gt;&gt;</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
