<section class="body-font text-gray-600">
    <div class="container mx-auto px-5 py-24">
        <div class="mb-20 text-center">
            <h1 class="title-font mb-4 text-center text-2xl font-medium text-gray-900 sm:text-3xl">WHY US?</h1>
            <p class="mx-auto text-base leading-relaxed lg:w-3/4 xl:w-2/4">
                We are a team of experienced web developers who are passionate about creating innovative web solutions
                that help businesses grow. Our goal is to provide you with a website that is not only visually appealing
                but also functional and user-friendly.
            </p>
        </div>
        <div class="-mx-2 flex flex-wrap sm:mx-auto sm:mb-2 lg:w-4/5">
            <div class="w-full p-2 sm:w-1/2">
                <div class="flex h-full items-center rounded bg-gray-100 p-4">
                    <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="3"
                        class="mr-4 h-6 w-6 flex-shrink-0 text-teal-500"
                        viewBox="0 0 24 24"
                    >
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="title-font font-medium">Internationally Skilled Developers</span>
                </div>
            </div>
            <div class="w-full p-2 sm:w-1/2">
                <div class="flex h-full items-center rounded bg-gray-100 p-4">
                    <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="3"
                        class="mr-4 h-6 w-6 flex-shrink-0 text-teal-500"
                        viewBox="0 0 24 24"
                    >
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="title-font font-medium">Software Development Best Practice Maintained</span>
                </div>
            </div>
            <div class="w-full p-2 sm:w-1/2">
                <div class="flex h-full items-center rounded bg-gray-100 p-4">
                    <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="3"
                        class="mr-4 h-6 w-6 flex-shrink-0 text-teal-500"
                        viewBox="0 0 24 24"
                    >
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="title-font font-medium">Use of Stable and Proven Approach</span>
                </div>
            </div>
            <div class="w-full p-2 sm:w-1/2">
                <div class="flex h-full items-center rounded bg-gray-100 p-4">
                    <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="3"
                        class="mr-4 h-6 w-6 flex-shrink-0 text-teal-500"
                        viewBox="0 0 24 24"
                    >
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="title-font font-medium">Apply Sense of Ownership and Look Ahead</span>
                </div>
            </div>
            <div class="w-full p-2 sm:w-1/2">
                <div class="flex h-full items-center rounded bg-gray-100 p-4">
                    <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="3"
                        class="mr-4 h-6 w-6 flex-shrink-0 text-teal-500"
                        viewBox="0 0 24 24"
                    >
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="title-font font-medium">Utilize Latest Technologies</span>
                </div>
            </div>
            <div class="w-full p-2 sm:w-1/2">
                <div class="flex h-full items-center rounded bg-gray-100 p-4">
                    <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="3"
                        class="mr-4 h-6 w-6 flex-shrink-0 text-teal-500"
                        viewBox="0 0 24 24"
                    >
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="title-font font-medium">Implement Client Feedback Early On</span>
                </div>
            </div>
        </div>
        <!-- <button class="flex border-0 bg-teal-500 hover:bg-teal-600 mx-auto mt-16 px-8 py-2 rounded text-white focus:outline-none text-lg">Button</button> -->
    </div>
</section>
