<section class="text-gray-600 body-font">
    <div class="mx-auto px-5 py-24 container">
        <div class="mb-20 text-center">
            <h1 class="mb-4 font-medium text-2xl text-center text-gray-900 sm:text-3xl title-font">Raw Denim Heirloom Man Braid</h1>
            <p class="mx-auto lg:w-3/4 xl:w-2/4 text-base leading-relaxed">
                Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug.
            </p>
        </div>
        <div class="flex flex-wrap -mx-2 sm:mx-auto sm:mb-2 lg:w-4/5">
            <div class="p-2 w-full sm:w-1/2">
                <div class="flex items-center bg-gray-100 p-4 rounded h-full">
                    <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="3"
                        class="flex-shrink-0 mr-4 w-6 h-6 text-green-500"
                        viewBox="0 0 24 24"
                    >
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="font-medium title-font">Authentic Cliche Forage</span>
                </div>
            </div>
            <div class="p-2 w-full sm:w-1/2">
                <div class="flex items-center bg-gray-100 p-4 rounded h-full">
                    <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="3"
                        class="flex-shrink-0 mr-4 w-6 h-6 text-green-500"
                        viewBox="0 0 24 24"
                    >
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="font-medium title-font">Kinfolk Chips Snackwave</span>
                </div>
            </div>
            <div class="p-2 w-full sm:w-1/2">
                <div class="flex items-center bg-gray-100 p-4 rounded h-full">
                    <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="3"
                        class="flex-shrink-0 mr-4 w-6 h-6 text-green-500"
                        viewBox="0 0 24 24"
                    >
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="font-medium title-font">Coloring Book Ethical</span>
                </div>
            </div>
            <div class="p-2 w-full sm:w-1/2">
                <div class="flex items-center bg-gray-100 p-4 rounded h-full">
                    <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="3"
                        class="flex-shrink-0 mr-4 w-6 h-6 text-green-500"
                        viewBox="0 0 24 24"
                    >
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="font-medium title-font">Typewriter Polaroid Cray</span>
                </div>
            </div>
            <div class="p-2 w-full sm:w-1/2">
                <div class="flex items-center bg-gray-100 p-4 rounded h-full">
                    <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="3"
                        class="flex-shrink-0 mr-4 w-6 h-6 text-green-500"
                        viewBox="0 0 24 24"
                    >
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="font-medium title-font">Pack Truffaut Blue</span>
                </div>
            </div>
            <div class="p-2 w-full sm:w-1/2">
                <div class="flex items-center bg-gray-100 p-4 rounded h-full">
                    <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="3"
                        class="flex-shrink-0 mr-4 w-6 h-6 text-green-500"
                        viewBox="0 0 24 24"
                    >
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="font-medium title-font">The Catcher In The Rye</span>
                </div>
            </div>
        </div>
        <button class="flex border-0 bg-green-500 hover:bg-green-600 mx-auto mt-16 px-8 py-2 rounded text-white focus:outline-none text-lg">Button</button>
    </div>
</section>
