<section class="bg-banner">
    <div class="container mx-auto items-center px-5 py-20 md:py-24">
        <div class="mb-16">
            <h1
                class="title-font mx-auto mb-3 max-w-[670px] text-center text-3xl font-semibold text-black-500 sm:text-5xl lg:text-5xl lg:!leading-[3.5rem]"
            >
                The web dev <span class="text-tealBlue-500">agency</span> <br />
                that <span class="text-tealBlue-500">puts </span>you at the center
            </h1>
            <p class="mx-auto mb-8 max-w-[580px] text-center font-normal leading-relaxed text-black-400">
                Mattrika Technologies stands out in the crowded digital landscape with its unique approach.
            </p>
            <div class="text-center">
                <button [routerLink]="[]" [fragment]="'contact'" class="btn-fill px-6 py-3 text-xl font-bold">
                    Contact Us
                </button>
            </div>
        </div>
    </div>
</section>
