  <div class="section-title">
    <h2>CONTACT US</h2>
  </div>

  <div class="relative sm:mt-20 md:mt-0">
    <img src="/texture6.png" alt="Background Texture" class="w-full object-cover">

    <!-- Contact Information -->
    <div class="relative sm:absolute sm:top-1/2 sm:left-1/2 sm:-translate-y-1/2 sm:-translate-x-1/2 w-full sm:w-10/12 bg-transparent p-7 md:py-10 md:px-12 lg:p-20 border-4 border-borderPrimary rounded-3xl shadow-lg">
      <div class="absolute inset-0 contact-bg rounded-2xl opacity-90"></div>

      <div class="flex flex-col gap-6 md:grid md:grid-cols-2 md:gap-8 relative z-10">
      <!-- Address and Social Links -->
      <div class="space-y-8 md:space-y-12">
        <div>
          <p class="font-bold text-xl md:text-2xl lg:text-3xl">ADDRESS</p>
          <p class="font-medium text-base md:text-lg sm:text-xl lg:text-2xl">673/1, Harua Boubazar, Kishoreganj, Bangladesh -2300</p>
        </div>
        <div>
          <p class="font-bold text-xl md:text-2xl lg:text-3xl">SOCIAL</p>
          <a href="https://www.linkedin.com/company/mattrikatech" target="_blank"
            class="underline text-base md:text-lg sm:text-xl lg:text-2xl">LinkedIn</a>
          <span class="font-bold mx-2 text-sm">|</span>
          <a href="https://www.facebook.com/MattrikaTech" target="_blank"
            class="underline text-base md:text-lg sm:text-xl lg:text-2xl">Facebook</a>
        </div>
      </div>

      <!-- Email and Phone -->
      <div class="space-y-6 md:space-y-12">
        <div>
          <p class="font-bold text-xl md:text-2xl lg:text-3xl">EMAIL</p>
          <a href="mailto:info@mattrika.com"
            class="underline text-base md:text-lg sm:text-xl lg:text-2xl">info{{'@'}}mattrika.com</a>
        </div>
        <div>
          <p class="font-bold text-xl md:text-2xl lg:text-3xl">PHONE</p>
          <p class="text-base md:text-lg sm:text-xl lg:text-2xl font-medium">+880 176 999 0300</p>
        </div>
      </div>
      </div>

    </div>
  </div>

