<div class="mb-20 flex w-full flex-col flex-wrap items-center text-center">
    <h3
        class="section-title rounded-[40px] border border-gray-200 bg-gray-200 bg-opacity-30 px-6 py-2 text-xl text-tealBlue-500 backdrop-blur-lg lg:text-sm"
    >
        {{ title() }}<span class="text-tealBlue-500"><i class="{{ icon() }} text-tealBlue-500 ml-1"></i></span>
    </h3>

    <h4 class="max-w-xl pb-2 text-2xl font-bold text-black-500 sm:text-4xl">
        <!-- {{ subTitle() }} <span class="text-tealBlue-500"> excellence </span>with us -->
        <ng-content></ng-content>
    </h4>
    <p class="section-subtitle">
        {{ details() }}
    </p>
</div>
