.projects-bg {
  background: radial-gradient(94.31% 66.31% at -53.25% 10.23%, #000B0B 0%, rgba(255, 255, 255, 0.06) 100%),
    radial-gradient(86.84% 30.42% at 129.28% 66.93%, #00A5CA 0%, rgba(92, 244, 255, 0) 100%),
    radial-gradient(41.06% 41.06% at 51.09% -22.85%, #000000 0%, rgba(255, 255, 255, 0) 100%),
    radial-gradient(111.14% 111.14% at 8.37% 0%, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(50px);
}

.text-gradient {
  background: linear-gradient(0deg, #98F9FF, #98F9FF);
  background-clip: text;
  color: transparent;
}
