<div class="relative pb-28 pt-24 md:pb-72" id="projectSection">
    <div class="grid h-auto w-full grid-cols-5" id="project-warper">
        <div class="section-title col-span-5 lg:col-span-2">
            <h2>Our Projects</h2>
            <span class="inline-block lg:my-4">Transforming ideas into reality</span>
            <p>Some of our ongoing and completed projects that we are proud of.</p>
        </div>

        <div class="relative col-span-5 lg:col-span-3">
            <div class="h-[750px] lg:hidden"></div>
            <!-- Sheresta -->
            <a href="https://sheresta.com" target="_blank" class="cursor-pointer">
                <div
                    class="absolute top-0 mx-6 mt-4 rounded-2xl border-4 border-borderPrimary md:mx-8 md:mt-6"
                    id="sheresta"
                >
                    <div class="projects-bg rounded-xl px-6 py-4 md:px-8 md:py-6">
                        <h4 class="text-2xl font-bold shadow-sm md:text-3xl">Sheresta</h4>
                        <img
                            src="./../../../../../assets/portfolio/Sheresta.png"
                            alt="Sheresta - Smart case management"
                            class="my-4 h-64 w-full rounded-xl object-cover md:h-80"
                            id="sherestapic"
                        />
                        <p class="mt-2 text-base leading-relaxed md:text-lg">
                            Sheresta helps clients find trusted lawyers and law firms, while lawyers can manage cases,
                            clients, documents, and digital diary easily.
                        </p>
                        <a class="mt-3 block text-base text-linkColorPrimary underline md:text-lg">Visit site</a>
                    </div>
                </div>
            </a>

            <!-- quaziro card  -->
            <a href="https://quizzaro.com/" target="_blank" class="cursor-pointer">
                <div
                    class="absolute top-[540px] mx-6 mt-4 rounded-2xl border-4 border-borderPrimary md:top-[520px] md:mx-8 md:mt-6"
                    id="quaziro"
                >
                    <div class="projects-bg rounded-xl px-6 py-4 md:px-8 md:py-6">
                        <h4 class="text-2xl font-bold shadow-sm md:text-3xl">Quizzaro</h4>
                        <img
                            src="./../../../../../assets/portfolio/quizzaro.png"
                            alt="Quaziro Screenshot"
                            class="my-4 h-64 w-full rounded-xl object-cover md:h-80"
                            id="quizzaropic"
                        />
                        <p class="mt-2 text-base leading-relaxed md:text-lg">
                            Quizzaro is an application that combines competitive spirit with fun, creating an exciting
                            environment.
                        </p>
                        <a class="mt-3 block text-base text-linkColorPrimary underline md:text-lg">Visit site</a>
                    </div>
                </div>
            </a>

            <!-- content erp -->
            <a href="https://app.contenterp.com" target="_blank" class="cursor-pointer">
                <div
                    class="absolute top-[1100px] mx-6 mt-4 rounded-2xl border-4 border-borderPrimary md:top-[1040px] md:mx-8 md:mt-6"
                    id="contentERP"
                >
                    <div class="projects-bg rounded-xl px-6 py-4 md:px-8 md:py-6">
                        <h4 class="text-2xl font-bold shadow-sm md:text-3xl">ContentERP</h4>
                        <img
                            src="./../../../../../assets/portfolio/contenterp.png"
                            alt="ContentERP Screenshot"
                            class="my-4 h-64 w-full rounded-xl object-cover md:h-80"
                        />
                        <p class="mt-2 text-base leading-relaxed md:text-lg">
                            Article/Blog tracking system for content production, team and financial management.
                        </p>
                        <a class="mt-3 block text-base text-linkColorPrimary underline md:text-lg">Visit site</a>
                    </div>
                </div>
            </a>

            <!-- Ma Klied -->
            <a href="https://www.makleid.de/" target="_blank" class="cursor-pointer">
                <div
                    class="absolute top-[1500px] mx-6 mt-4 rounded-2xl border-4 border-borderPrimary md:top-[1440px] md:mx-8 md:mt-6"
                    id="makhelid"
                >
                    <div class="projects-bg rounded-xl px-6 py-4 md:px-8 md:py-6">
                        <h4 class="text-2xl font-bold shadow-sm md:text-3xl">MA Kleid</h4>
                        <img
                            src="./../../../../../assets/portfolio/makleid.png"
                            alt="MA Kleid"
                            class="my-4 h-64 w-full rounded-xl object-cover md:h-80"
                        />
                        <p class="mt-2 text-base leading-relaxed md:text-lg">
                            Fast fashion e-commerce for German consumers. Sales Man and women Cloths.
                        </p>
                        <a class="mt-3 block text-base text-linkColorPrimary underline md:text-lg">Visit site</a>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <img
        src="./../../../../../assets/texture-1.png"
        alt=""
        class="absolute -left-1/2 -top-[20rem] -z-50 h-[100rem] w-[100rem] object-fill opacity-20"
    />
</div>
