<div class="section-title text-center">
  <h2>Our Team</h2>
  <span>United in Creative Excellence</span>
  <p>
    We combine talents to create a diverse and dynamic team that is capable of delivering high-quality web solutions.
  </p>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-4 md:px-8 lg:px-12">
  @for (item of [1,2,3,4,5,6,7,8]; track $index) {
  <div class="text-center mx-auto">
    <img src="./../../../../../assets/team/user.jpg" alt="Team Member" class="w-36 h-36 sm:w-44 sm:h-44 lg:w-56 lg:h-56 rounded-sm mx-auto">
    <div class="my-4">
      <p class="font-semibold text-lg sm:text-xl lg:text-2xl leading-relaxed">A. Akhand</p>
      <p class="text-base sm:text-lg text-gray-500">Co-founder & CEO</p>
    </div>
  </div>
  }
</div>
