@import './utils/font.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Fira Sans', sans-serif;
}

.bg-banner {
    background-image: linear-gradient(
        90deg,
        rgba(0, 150, 136, 0.03) 5%,
        rgba(0, 150, 136, 0.04) 40%,
        rgba(0, 150, 136, 0.02) 100%
    );
}

.custom-card {
    border-radius: 10px;
    position: relative;

    transition: all 0.5s ease;
}
.custom-card::before {
    content: '';
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 6px;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    background: conic-gradient(
        from 180deg at 50% 50%,
        #dbfffb 0deg,
        #e9d3ff 88.12deg,
        #c7fff9 176.25deg,
        #e9d3ff 264.38deg,
        #b8fff8 1turn
    );
}
.custom-card:hover {
    box-shadow: 0px 6px 30px rgba(38, 78, 118, 0.1);
}

@layer components {
    .btn-fill {
        @apply inline-flex items-center justify-center rounded-[3px] border-0 bg-tealBlue-500 px-4 py-1.5 text-center font-[400] text-white hover:bg-teal-600 hover:transition-colors hover:duration-200 focus:outline-none;
    }
    .title-font {
        @apply text-black-500;
    }
    .icon-lg{
        @apply flex h-14 w-14 items-center justify-center rounded-[4px] bg-tealBlue-500 text-3xl text-white;
    }
   .section-title{
    @apply title-font mb-4 text-center text-2xl font-medium text-black-500 sm:text-3xl;
   }
    .section-subtitle{
        @apply mx-auto text-base leading-relaxed max-w-xl;
    }
}
