<section class="bg-white">
    <section>
        <div class="relative">
            <img
                src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Y5OTYtMDI1LWpvYjU5OC5qcGc.jpg"
                alt="image description"
                class="w-full h-full object-cover"
            />
            <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full">
                <div class="text-center text-gray-900 text-7xl font-bold">
                    <h1>Experience UI/UX designer</h1>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="text-gray-800 text-xl my-16 p-6">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
    </section>
</section>
