<div class="relative bg-white mt-32 p-4">
    <section class="grid grid-cols-12">
        <div
            class="col-span-8 hover:bg-slate-50 rounded-sm shadow-sm text-xl text-center flex items-center justify-center"
        >
            <h1>
                “It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged."
            </h1>
        </div>
        <div class="col-span-4 hover:bg-slate-50 rounded-sm shadow-sm">
            <div class="flex items-center justify-center">
                <div class="text-center">
                    <img
                        class="rounded-full w-32 h-32 mb-4 ml-12"
                        src="https://images.prothomalo.com/prothomalo-english%2F2023-07%2F189bd66e-8e6f-42cb-acba-9f007ac9be0b%2Fprothomalo_bangla_2023_07_b221b13b_295e_4db2_94a4_2f1c17882e5f_b2498b8a_86c1_4f5e_a029_acd28e235300_.webp?rect=0%2C0%2C1280%2C720&auto=format%2Ccompress&fmt=webp&dpr=1.0&format=webp&w=480"
                        alt="Profile Picture"
                    />
                    <h1 class="text-2xl font-bold mb-2">Sakib All Hassan</h1>
                    <p class="text-gray-500">Bangladeshi cricketer and politician</p>
                    <div class="text-red-600">
                        <i class="bx bx-star mr-2"></i>
                        <i class="bx bx-star mr-2"></i>
                        <i class="bx bx-star mr-2"></i>
                        <i class="bx bx-star mr-2"></i>
                        <i class="bx bx-star mr-2"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="grid grid-cols-12 gap-2 p-1">
        <div class="col-span-6 p-2 text-xl text-center">
            <button appearance="ghost" class="mr-2 text-blue-600"><-</button>
            <button appearance="ghost" class="ml-2 text-blue-600">-></button>
        </div>
        <div class="col-span-6 p-2 text-xl text-center">
            <button appearance="ghost" class="text-red-600">
                <a [routerLink]="homeRoutes.allReviews.path">all reviews</a>
            </button>
        </div>
    </section>
</div>
