<header class="bg-banner backdrop-blur-lg">
    <div class="flex h-[60px] justify-between">
        <div class="container ml-4 flex flex-col flex-wrap font-bold md:mx-auto md:flex-row md:items-center md:p-2">
            <a [routerLink]="[]" [fragment]="'home'" class="title-font flex items-center font-medium text-teal-500">
                <img [src]="websiteLogo" [alt]="websiteName" class="h-12 w-auto" />
            </a>

            <nav class="ml-16 hidden flex-wrap space-x-4 text-center text-base md:ml-auto md:flex md:items-center">
                @for (route of headerRoute; track route.id) {
                    <a
                        [routerLink]="[]"
                        [fragment]="route.url"
                        class="mr:mr-5 rounded font-normal hover:text-teal-500"
                        >{{ route.title }}</a
                    >
                }
            </nav>

            <div class="flex items-center gap-2"></div>
        </div>
        <div class="my-2 mr-4 md:hidden">
            <div class="my-2 mr-4 md:hidden">
                <!-- Button to toggle the drawer -->
                <div (click)="toggleNavbar()" class="text-center">
                    <button
                        class="items-center rounded border-0 bg-teal-500 px-3 py-1 text-white hover:bg-teal-600 focus:outline-none"
                        type="button"
                    >
                        <svg
                            class="h-6 w-6"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16m-7 6h7"
                            ></path>
                        </svg>
                    </button>
                </div>

                <!-- Drawer component, visible based on `isExpanded` -->
                @if (isExpanded) {
                    <div
                        [ngClass]="{ 'translate-x-0': isExpanded, '-translate-x-full': !isExpanded }"
                        class="fixed left-0 top-0 z-40 h-screen w-64 overflow-y-auto bg-white p-4 transition-all duration-500 ease-in-out shadow-lg"
                    >
                        <div class="flex items-center justify-between">
                            <a
                                [routerLink]="[]"
                                [fragment]="'home'"
                                class="title-font flex items-center font-medium text-teal-500"
                            >
                                <img [src]="websiteLogo" [alt]="websiteName" class="h-10 w-auto" />
                            </a>
                            <button
                                (click)="toggleNavbar()"
                                type="button"
                                data-drawer-hide="drawer-disable-body-scrolling"
                                aria-controls="drawer-disable-body-scrolling"
                                class="absolute end-2.5 top-2.5 inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent
                                 text-sm text-tealBlue-500 hover:bg-gray-200 hover:text-gray-900"
                            >
                                <svg
                                    class="h-3 w-3"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 14 14"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                                    />
                                </svg>
                                <span class="sr-only">Close menu</span>
                            </button>
                        </div>
                        <div class="overflow-y-auto py-4">
                            <ul class="space-y-2 font-normal">
                                @for (route of headerRoute; track $index) {
                                    <li>
                                        <a
                                            (click)="toggleNavbar()"
                                            [routerLink]="[]"
                                            [fragment]="route.url"
                                            class="group flex items-center rounded-lg px-2 py-1 text-gray-900 hover:bg-gray-100 dark:text-gray-900"
                                        >
                                            <ng-icon [svg]="route.icon"></ng-icon>

                                            <span class="ms-3">{{ route.title }}</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</header>
