<header class="bg-banner backdrop-blur-lg ">
    <div class="flex justify-between h-[60px]">
        <div class="container ml-4 flex flex-col flex-wrap font-bold md:mx-auto md:flex-row md:items-center md:p-2">
            <a [routerLink]="[]" [fragment]="'home'" class="title-font flex items-center font-medium text-teal-500">
                <img [src]='websiteLogo' [alt]='websiteName' class="h-12 w-auto" />
            </a>

            <nav class="ml-16 grid flex-wrap text-center text-base md:ml-auto md:flex md:items-center space-x-4"
                [class.hidden]="!isExpanded">
                @for(route of headerRoute; track route.id){
                <a [routerLink]="[]" [fragment]="route.url"
                    class="mr:mr-5 rounded  hover:text-teal-500 font-normal">{{route.title}}</a>
                }

                <!-- <button [routerLink]="[]" [fragment]="'contact'" class="btn-fill">
                    Contact Us
                </button> -->
            </nav>

            <div class="flex items-center gap-2"></div>
        </div>
        <div class="my-2 mr-4 md:hidden">
            <!-- This will hide the button on medium and larger screens -->
            <button (click)="toggleNavbar()"
                class="grid items-center rounded border-0 bg-teal-500 px-3 py-1 text-white hover:bg-teal-600 focus:outline-none">
                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path [ngClass]="{ block: !isExpanded, hidden: isExpanded }" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                    <path [ngClass]="{ hidden: !isExpanded, block: isExpanded }" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
    </div>
</header>