<section class="body-font">
    <div class="container mx-auto px-5 py-24">
        <div class="mb-20 flex w-full flex-col flex-wrap items-center text-center">
            <h1 class="title-font mb-2 text-2xl font-medium text-gray-900 sm:text-3xl">PORTFOLIO</h1>
            <p class="w-full leading-relaxed text-gray-500 lg:w-1/2">
                Some of our ongoing and completed projects we are proud of.
            </p>
        </div>
        <div class="grid grid-cols-12 gap-4 lg:gap-6">
            @for (item of items; track $index) {
                <div class="col-span-12 lg:col-span-4">
                    <div class="bg-banner rounded-lg border">
                        <div class="h-64 w-full overflow-hidden rounded-t-lg">
                            <img
                                alt="content"
                                class="min-h-full w-full object-cover object-top rounded-t-lg "
                                src="./../../../../../assets/portfolio/{{ item.image }}"
                            />
                        </div>
                        <div class="px-4 pb-4">
                            <div class="flex items-center justify-between">
                                <div class="ml-2">
                                    <h2 class="title-font mt-6 text-xl font-medium">
                                        {{ item.title }}
                                    </h2>
                                    <p class="text-sm leading-relaxed">
                                        {{ item.content }}
                                    </p>

                                    <a
                                        [href]="item.url"
                                        target="_blank"
                                        class="mt-4 inline-block font-normal text-teal-500 transition-colors duration-200 hover:text-tealBlue-700"
                                    >
                                        Visit site <ng-icon name="heroArrowUpRight"></ng-icon>
                                    </a>
                                </div>
                            </div>
                            <div class="flex items-center justify-center"></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
