<section class="text-gray-600 body-font">
    <div class="mx-auto px-5 py-24 container">
                <div class="flex flex-col flex-wrap items-center mb-20 w-full text-center">
            <h1 class="mb-2 font-medium text-2xl text-gray-900 sm:text-3xl title-font">Portfolio</h1>
            <p class="w-full lg:w-1/2 text-gray-500 leading-relaxed">
                Some of our ongoing and completed projects we are proud of.
            </p>
        </div>
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
            @for (item of items; track $index) {
                <div class="mb-10 px-4 sm:w-1/2">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <img
                            alt="content"
                            class="object-top w-full h-full object-cover"
                            src="./../../../../../assets/portfolio/{{ item.image }}"
                        >
                    </div>
                    <h2 class="mt-6 mb-3 font-medium text-2xl text-gray-900 title-font">
                        {{ item.title }}
                    </h2>
                    <p class="text-base leading-relaxed">
                        {{ item.content }}
                    </p>
                    <div class="flex justify-center items-center">

                        <a [href]="item.url" target="_blank" class="flex border-0 bg-teal-500 hover:bg-teal-600 mx-auto mt-6 px-5 py-2 rounded text-white focus:outline-none">
                            Visit Site
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
