<section class="body-font text-gray-600">
    <div class="container mx-auto px-5 py-24">
        <div class="mb-20 flex w-full flex-col flex-wrap items-center text-center">
            <h1 class="title-font mb-2 text-2xl font-medium text-gray-900 sm:text-3xl">Portfolio</h1>
            <p class="w-full leading-relaxed text-gray-500 lg:w-1/2">
                Some of our ongoing and completed projects we are proud of.
            </p>
        </div>
        <div class="-mx-4 -mb-10 flex flex-wrap text-center">
            @for (item of items; track $index) {
                <div class="mb-10 px-4 sm:w-1/2">
                    <div class="h-64 overflow-hidden rounded-lg">
                        <img
                            alt="content"
                            class="h-full w-full object-cover object-top"
                            src="./../../../../../assets/portfolio/{{ item.image }}"
                        />
                    </div>
                    <h2 class="title-font mb-3 mt-6 text-2xl font-medium text-gray-900">
                        {{ item.title }}
                    </h2>
                    <p class="text-base leading-relaxed">
                        {{ item.content }}
                    </p>
                    <div class="flex items-center justify-center">
                        <a
                            [href]="item.url"
                            target="_blank"
                            class="mx-auto mt-6 flex rounded border-0 bg-teal-500 px-5 py-2 text-white hover:bg-teal-600 focus:outline-none"
                        >
                            Visit Site
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
