<section class="body-font text-gray-600">
    <div class="container mx-auto px-5 py-24">
        <!-- <div class="mb-20 flex w-full flex-col text-center">
            <h1 class="section-title">OUR TEAM</h1>
            <p class="section-subtitle">
                We combine talents to create a diverse and dynamic team that is capable of delivering high-quality web
                solutions.
            </p>
        </div> -->
        <app-section-headers
            icon="bx bx-user"
            title="OUR TEAM"
            details=" We combine talents to create a diverse and dynamic team that is capable of delivering high-quality web solutions."
        >
            United in <span class="text-tealBlue-500">Creative </span>Excellence
        </app-section-headers>
        <div class="-m-4 flex flex-wrap items-center justify-center">
            @for (item of items; track $index) {
                <div class="p-4 md:w-1/2 lg:w-1/5">
                    <div class="flex h-full flex-col items-center text-center">
                        <img
                            alt="team"
                            class="mb-4 size-60 flex-shrink-0 rounded-lg object-cover object-center shadow-sm"
                            src="../../../../../assets/team/{{ item.image }}"
                        />
                        <div class="w-full">
                            <h2 class="title-font text-lg font-medium text-gray-900">
                                {{ item.name }}
                            </h2>
                            <h3 class="mb-3 whitespace-nowrap text-gray-500">
                                {{ item.position }}
                            </h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
