<div class="bg-white text-gray-500 col-span-6 py-4 px-4">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold"><a [routerLink]="homeRoutes.redirect.path">Mattrika</a></h1>
    <nav class="flex space-x-4">
        <a [routerLink]="homeRoutes.redirect.path" class="hover:text-gray-700">Home</a>
        <div class="group relative inline-block">
  <button class="hover:text-gray-700">
    Service
  </button>
  <div class="absolute hidden mt-2 bg-white text-black rounded-lg shadow-md group-hover:block">
    <a [routerLink]="homeRoutes.softwareDevelopment.path" class="block p-2" style="white-space: nowrap;">software development</a>
    <a [routerLink]="homeRoutes.softwareTesting.path" class="block p-2" style="white-space: nowrap;">software testing</a>
    <a [routerLink]="homeRoutes.uiDesign.path" class="block p-2" style="white-space: nowrap;">UI/UX design</a>
    <a [routerLink]="homeRoutes.customSoftwareDevelopment.path" class="block p-2" style="white-space: nowrap;">custom software development</a>
  </div>
</div>

      <a [routerLink]="homeRoutes.portfolio.path" class="hover:text-gray-700">Portfolio</a>

      <div class="group relative inline-block">
  <button class="hover:text-gray-700">
    About Us
  </button>
  <div class="absolute hidden mt-2 bg-white text-black rounded-md shadow-md group-hover:block">
    <a [routerLink]="homeRoutes.team.path" class="block p-2" style="white-space: nowrap;">team</a>
    <a [routerLink]="homeRoutes.technicalBenefits.path" class="block p-2" style="white-space: nowrap;">technical benefits</a>
    <a [routerLink]="homeRoutes.team.path" class="block p-2" style="white-space: nowrap;">all reviews</a>
  </div>
</div>

      <a [routerLink]="homeRoutes.faq.path" class="hover:text-gray-700">FAQ</a>

<a [routerLink]="homeRoutes.contractUs.path" class="text-white rounded-md box-border p-1 bg-teal-500 hover:bg-teal-600">Contact Us</a>
    </nav>
  </div>
</div>
