<header class="bg-white text-gray-600 body-font">
    <div class="flex md:flex-row flex-col flex-wrap items-center mx-auto p-5 container">
        <a class="flex items-center mb-4 md:mb-0 font-medium text-gray-900 title-font">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="bg-green-500 p-2 rounded-full w-10 h-10 text-white"
                viewBox="0 0 24 24"
            >
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">Tailblocks</span>
        </a>
        <nav class="flex flex-wrap justify-center items-center md:ml-auto text-base">
            <a class="mr-5 hover:text-gray-900">First Link</a>
            <a class="mr-5 hover:text-gray-900">Second Link</a>
            <a class="mr-5 hover:text-gray-900">Third Link</a>
            <a class="mr-5 hover:text-gray-900">Fourth Link</a>
        </nav>
        <button
            class="inline-flex items-center border-0 bg-gray-100 hover:bg-gray-200 mt-4 md:mt-0 px-3 py-1 rounded text-base focus:outline-none"
        >
            Button
            <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="ml-1 w-4 h-4"
                viewBox="0 0 24 24"
            >
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
</header>
