<section class="body-font bg-[#f5f7fa]">
    <div class="mx-auto max-w-6xl py-24">
        <div class="mb-20 text-center">
            <!-- <h3 class="section-title">WHY US?</h3>
            <p class="section-subtitle">
                We are a team of experienced web developers who are passionate about creating innovative web solutions that help businesses grow.
            </p> -->
            <div class="mb-20 flex w-full flex-col flex-wrap items-center text-center">
                <h3
                    class="section-title rounded-[40px] border border-gray-200 bg-gray-200 bg-opacity-30 px-6 py-2 text-xl text-tealBlue-500 backdrop-blur-lg lg:text-sm"
                >
                    WHY US? <span class="text-tealBlue-500"><i class="bx bxs-hot text-tealBlue-500"></i></span>
                </h3>

                <h4 class="max-w-xl pb-2 text-2xl font-bold text-black-500 sm:text-4xl">
                    Experience <span class="text-tealBlue-500"> excellence </span>with us
                </h4>
                <p class="section-subtitle">
                    We are a team of experienced web developers who are passionate about creating innovative web
                    solutions that help businesses grow.
                </p>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-4 sm:mx-auto sm:mb-2">
            @for (quality of qualityData; track $index) {
                <div class="col-span-12 w-full p-2 sm:col-span-6">
                    <div class="flex h-full items-center rounded-[4px] border border-tealBlue-400 bg-white p-4">
                        <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="3"
                            class="mr-4 h-6 w-6 flex-shrink-0 text-tealBlue-500"
                            viewBox="0 0 24 24"
                        >
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <span class="title-font font-medium text-black-400">{{ quality.title }}</span>
                    </div>
                </div>
            }
        </div>
        <!-- <button class="flex border-0 bg-teal-500 hover:bg-teal-600 mx-auto mt-16 px-8 py-2 rounded text-white focus:outline-none text-lg">Button</button> -->
    </div>
</section>
