:host {
    display: block;
}

 .shine-border-title {
        font-size: var(--text-big);
        font-weight: bold;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(
          to bottom,
          #fff 0,
          rgba(255, 255, 255, 0.1) 95%
        );
      }