<section class="body-font text-gray-600">
    <div class="container mx-auto px-5 py-24">
        <div class="mb-20 flex w-full flex-col flex-wrap items-center text-center">
            <h1 class="title-font mb-2 text-2xl font-medium text-gray-900 sm:text-3xl">OUR SERVICES</h1>
            <p class="w-full leading-relaxed text-gray-500 lg:w-1/2">
                We realize that every business is unique and has its own set of requirements. That’s why we offer
                customized web development
            </p>
        </div>
        <div class="grid grid-cols-12 gap-6">
            @for (service of serviceData; track service.id) {

                    <div
                        class="custom-card col-span-12 min-h-[12.5rem] p-[1.5rem] sm:col-span-6 lg:col-span-6 xl:col-span-4"
                    >
                        <div
                            class="mb-4 inline-flex h-12 w-12 items-center justify-center rounded-md bg-tealBlue-500 text-3xl font-bold text-white"
                        >
                            <ng-icon name="{{ service.img }}"></ng-icon>
                        </div>
                        <h2 class="title-font mb-2 text-lg font-medium text-gray-900">{{ service.title }}</h2>
                        <p class="text-base leading-relaxed">
                            {{ service.description }}
                        </p>
                    </div>

            }
        </div>
        <!-- <button class="flex border-0 bg-teal-500 hover:bg-teal-600 mx-auto mt-16 px-8 py-2 rounded text-white focus:outline-none text-lg">Button</button> -->
    </div>
</section>
