<div class="relative pt-12 pb-28 md:pb-72" id="projectSection">


  <div class="grid grid-cols-5 lg:gap-6 w-full h-auto" id="project-warper">
    <div class="section-title col-span-5 lg:col-span-2 relative " id="project-Text">
      <h2>Our Projects</h2>
      <span class="inline-block lg:mt-2">Transforming ideas into reality</span>
      <p>Some of our ongoing and completed projects that we are proud of highlight our commitment to excellence and
        innovation</p>
    </div>

    <div class="col-span-5 relative lg:col-span-3">
      <!-- project cards -->
       <div class="h-[480px] w-full hidden sm:block"></div>
      <div class="border-4 border-borderPrimary rounded-2xl mx-4 mt-6 sm:mx-6 lg:mx-10 sm:absolute sm:top-0 " id="makhelid" >
        <div class="projects-bg p-4 md:px-8 lg:px-10 md:py-6 rounded-xl">
          <h4 class="text-2xl md:text-3xl font-bold shadow-sm text-secondary -ml-2 md:-ml-5">MA Kleid</h4>
          <img src="/makleid.png" alt="ContentERP Screenshot" class="rounded-xl my-4 h-52 md:h-64 lg:h-80 w-full object-cover">
          <p class="text-sm md:text-lg lg:text-xl leading-relaxed mt-2">
            Article/Blog tracking system for content production, team, and financial management.
          </p>
          <a href="https://quizzaro.com/" target="_blank" class="text-sm md:text-lg lg:text-xl underline text-linkColorPrimary mt-3 block">
            Visit site
          </a>
        </div>
      </div>


      <div class="border-4 border-borderPrimary rounded-2xl mx-4 mt-4 sm:mx-6 lg:mx-10 sm:absolute sm:top-20 " id="quaziro">
        <div class="projects-bg p-4 md:px-8 lg:px-10 md:py-6 rounded-xl">
          <h4 class="text-2xl md:text-3xl font-bold shadow-sm text-secondary -ml-2 md:-ml-5">Quizzaro</h4>
          <img src="/quizzaro.png" alt="ContentERP Screenshot" class="rounded-xl my-4 h-52 md:h-64 lg:h-80 w-full object-cover">
          <p class="text-sm md:text-lg lg:text-xl leading-relaxed mt-2">
            Article/Blog tracking system for content production, team, and financial management.
          </p>
          <a href="https://quizzaro.com/" target="_blank" class="text-sm md:text-lg lg:text-xl underline text-linkColorPrimary mt-3 block">
            Visit site
          </a>
        </div>
      </div>


      <div class="border-4 border-borderPrimary rounded-2xl mx-4 mt-4 sm:mx-6 lg:mx-10 sm:absolute sm:top-[9.5rem] " id="contentERP">
        <div class="projects-bg p-4 md:px-8 lg:px-10 md:py-6 rounded-xl">
          <h4 class="text-2xl md:text-3xl font-bold shadow-sm text-secondary -ml-2 md:-ml-5">ContentERP</h4>
          <img src="/contenterp.png" alt="ContentERP Screenshot" class="rounded-xl border border-gray-400 shadow-sm my-4 h-52 md:h-64 lg:h-80 w-full object-cover">
          <p class="text-sm md:text-lg lg:text-xl leading-relaxed mt-2">
            Article/Blog tracking system for content production, team, and financial management.
          </p>
          <a href="https://quizzaro.com/" target="_blank" class="text-sm md:text-lg lg:text-xl underline text-linkColorPrimary mt-3 block">
            Visit site
          </a>
        </div>
      </div>

    </div>
  </div>
<img src="/texture-1.png" alt="" class="absolute -top-[20rem] w-[100rem] h-[100rem] object-fill -left-1/2 -z-50 opacity-30">
</div>
