<div class="bg-white text-gray-500 col-span-12 py-4 px-4">
    <div class="flex justify-between items-center">
      <h1 class="text-2xl font-bold">Mattrika</h1>
      <nav>
        <ul class="flex space-x-4">
          <li><a href="#" class="hover:text-gray-700">service</a></li>
          <li><a href="#" class="hover:text-gray-700">portfolio</a></li>
          <li><a href="#" class="hover:text-gray-700">about us</a></li>
          <li><a href="#" class="hover:text-gray-700">blogs</a></li>
          <li><a href="#" class="hover:text-gray-900 hover:box-border hover:p-1 hover:bg-green-400">contact us</a></li>
        </ul>
      </nav>
    </div>
</div>
