<div class="bg-gray-500 text-white col-span-12 py-4 px-4">
    <div class="flex justify-between items-center">
      <h1 class="text-2xl font-bold">Mattrika</h1>
      <nav>
        <ul class="flex space-x-4">
          <li><a href="#" class="hover:text-gray-300">service</a></li>
          <li><a href="#" class="hover:text-gray-300">portfolio</a></li>
          <li><a href="#" class="hover:text-gray-300">about us</a></li>
          <li><a href="#" class="hover:text-gray-300">blogs</a></li>
          <li><a href="#" class="hover:text-gray-300">contract us</a></li>
        </ul>
      </nav>
    </div>
</div>

