<div class="relative w-full overflow-x-clip ">
<div class="grid grid-cols-1 md:grid-cols-5 gap-y-10 sm:gap-y-12 container mx-auto px-4">
  <div class="col-span-2 md:order-2 flex justify-center items-center">
    <img src="/Simple Law Firm Facebook Post (13).png" alt="Web Dev Image" class="w-4/5 sm:w-3/5 md:w-auto">
  </div>

  <div class="col-span-1 md:col-span-3 flex flex-col justify-center space-y-4 md:order-1">
    <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold leading-tight text-center md:text-left md:mb-4">
      The web dev agency that puts you at the center
    </h1>
    <div style="background: linear-gradient(90deg, #7A7A7A 0%, #E0E0E0 100%);" class="p-1 inline-block rounded-sm w-fit mx-auto md:mx-0">
      <button class="btn-bg px-6 py-3 text-lg sm:text-xl md:text-2xl font-semibold" routerLink="/" fragment="contact-us">Contact Us</button>
    </div>
  </div>
</div>



  <img src="/texture-1.png" alt="" class=" absolute -top-[25rem] -left-1/2 w-[100rem] h-[70rem] object-fill opacity-25 -z-50">
  <img src="/texture-1.png" alt="" class=" absolute -top-[40rem] -right-1/2 w-[100rem] h-[80rem] object-fill opacity-30 -z-50">
  <img src="/texture7.png" alt="" class="w-[60rem] h-[60rem] absolute -top-[50rem] -right-[18rem] sm:-right-[24rem]  md:-top-[50rem] md:-right-[38rem] xl:-right-[38rem] xl:-top-[50rem] lg:-right[150rem] lg:-top-[55rem] opacity-10 -z-50">





</div>
