<div class="relative w-full overflow-x-clip">
    <div class="container mx-auto grid grid-cols-1 gap-y-10 px-4 sm:gap-y-12 md:grid-cols-5">
        <div class="col-span-2 flex items-center justify-center md:order-2">
            <img
                src="./../../../../../assets/Simple Law Firm Facebook Post (13).png"
                alt="Web Dev Image"
                class="w-4/5 sm:w-3/5 md:w-auto"
            />
        </div>

        <div class="col-span-1 flex flex-col justify-center space-y-4 md:order-1 md:col-span-3">
            <h1
                class="text-center text-3xl font-bold leading-tight sm:text-4xl md:mb-4 md:text-left md:text-5xl lg:text-6xl"
            >
                The web dev agency that puts you at the center
            </h1>
            <div
                style="background: linear-gradient(90deg, #7a7a7a 0%, #e0e0e0 100%)"
                class="mx-auto inline-block w-fit rounded-lg p-1 md:mx-0"
            >
                <button
                    class="btn-bg px-6 py-3 rounded-md text-lg font-semibold sm:text-xl md:text-2xl"
                    routerLink="/"
                    fragment="contact-us"
                >
                    Contact Us
                </button>
            </div>
        </div>
    </div>

    <img
        src="./../../../../../assets/texture-1.png"
        alt=""
        class="absolute -left-1/2 -top-[25rem] -z-50 h-[70rem] w-[100rem] object-fill opacity-25"
    />
    <img
        src="./../../../../../assets/texture-1.png"
        alt=""
        class="absolute -right-1/2 -top-[40rem] -z-50 h-[80rem] w-[100rem] object-fill opacity-30"
    />
    <img
        src="./../../../../../assets/texture7.png"
        alt=""
        class="lg:-right[150rem] absolute -right-[18rem] -top-[50rem] -z-50 h-[60rem] w-[60rem] opacity-10 sm:-right-[24rem] md:-right-[38rem] md:-top-[50rem] lg:-top-[55rem] xl:-right-[38rem] xl:-top-[50rem]"
    />
</div>
