<div class="section-title">
    <h2>Testimonials</h2>
    <span>Innovative Solutions for Growth</span>
    <p> Our satisfied customers share their success stories, highlighting the quality and reliability of our services. </p>
</div>
<div class="relative mt-12">
    <div class="absolute left-0 top-0">
        <svg
            class="h-auto w-full"
            width="1440"
            height="522"
            viewBox="0 0 1440 522"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M-183 346.688C-144.117 351.548 287.484 431.752 384.692 498.588C481.9 565.424 1100.14 435.397 742.416 346.688C384.692 257.978 -241.325 96.3555 128.064 56.2538C497.453 16.152 816.294 95.1403 1127.36 270.13C1438.42 445.119 2095.54 406.232 1656.17 231.243C1216.79 56.2538 1224.56 24.6585 1205.12 4"
                stroke="#00AAFF"
                stroke-opacity="0.1"
                stroke-width="10"
            />
        </svg>
    </div>
    <div class="relative mx-auto w-11/12 rounded-3xl border-4 border-borderPrimary px-6 py-6 shadow-lg sm:w-10/12 sm:py-12 sm:px-20">
        <div class="testimonial-bg absolute left-0 top-0 h-full w-full rounded-2xl opacity-80"></div>

        <div class="relative z-10">
            <img
                src="./../../../../../assets/msg-icon.png"
                alt="Message Icon"
                class="mx-auto mb-4 w-12 sm:w-16 md:mx-0"
            />
            <p class="text-center text-lg italic sm:text-2xl md:text-3xl">
                Of everything I’ve done in this project, deciding to work with Mattrika Technologies has been by far the
                best decision I have made, truly. And I cannot thank them enough. Now, all I have to do is make sure
                this becomes a big big success.
            </p>
            <div class="mt-6 flex flex-col items-center justify-center gap-4 sm:flex-row md:justify-end">
                <img src="./../../../../../assets/team/user.jpg" alt="User Image" class="w-16 rounded-full sm:w-20" />
                <div class="text-center sm:text-left">
                    <p class="text-xl font-semibold sm:text-2xl">Shannon Kempenich</p>
                    <p class="text-sm font-medium sm:text-lg">CEO, ContentERP, USA</p>
                </div>
            </div>
        </div>
    </div>
</div>

