.testimonial-bg {
  // background: linear-gradient(286.58deg, rgba(214, 202, 202, 0.35) 1.75%, rgba(255, 255, 255, 0) 101.04%), linear-gradient(120.85deg, rgba(255, 255, 255, 0.546) 1.23%, rgba(0, 255, 213, 0.12) 23.23%),
  //   linear-gradient(281.46deg, rgba(255, 255, 255, 0.5) 1.28%, rgba(78, 78, 78, 0.38) 53.95%);
  background: linear-gradient(286.58deg, rgba(0, 0, 0, 0.3) 1.75%, rgba(255, 255, 255, 0.1) 101.04%),
            linear-gradient(120.85deg, rgba(0, 0, 0, 0.4) 1.23%, rgba(0, 255, 213, 0.1) 23.23%),
            linear-gradient(281.46deg, rgba(0, 0, 0, 0.3) 1.28%, rgba(78, 78, 78, 0.4) 53.95%);

    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
}
