<div class="relative bg-white mt-32 p-4">
  <div class="flex items-center justify-center">
    <div class="text-gray-800">
<h1 class="text-center text-4xl mb-8 p-2">Why companies work with Mattrika</h1>
<div class="col-span-4 p-1">
    <div class="h-full grid grid-cols-2 grid-rows-3 my-4 gap-2">
        <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
            <div class="stat">
                <div class="stat-title text-xl font-semibold">Fully transparency</div>
                <div class="stat-value text-lg">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout </div>
            </div>
        </div>
        <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
            <div class="stat">
                <div class="stat-title text-xl font-semibold">Client involvement</div>
                <div class="stat-value text-lg">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout </div>
            </div>
        </div>
        <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
            <div class="stat">
                <div class="stat-title text-xl font-semibold">Reasonable cost</div>
                <div class="stat-value text-lg">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout </div>
            </div>
        </div>
        <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
            <div class="stat">
                <div class="stat-title text-xl font-semibold">No language barrier</div>
                <div class="stat-value text-lg">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout </div>
            </div>
        </div>
        <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
            <div class="stat">
                <div class="stat-title text-xl font-semibold">Effective time deference management</div>
                <div class="stat-value text-lg">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout </div>
            </div>
        </div>
        <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
            <div class="stat">
                <div class="stat-title text-xl font-semibold text-green-700">Rating</div>
                <div class="text-red-600">
        <i class="bx bx-star mr-2"></i>
        <i class="bx bx-star mr-2"></i>
        <i class="bx bx-star mr-2"></i>
        <i class="bx bx-star mr-2"></i>
        <i class="bx bx-star mr-2"></i>
    </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

