<div>
  <img src="https://t4.ftcdn.net/jpg/03/08/69/75/240_F_308697506_9dsBYHXm9FwuW0qcEqimAEXUvzTwfzwe.jpg" alt="Your image description" class="w-full h-full object-cover" />
  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <div class="text-center text-white text-3xl font-bold">
        <h2>We help companies digitalize their business</h2>
        <h4>Custom software for any environment: web, mobile.</h4>
        <h6>Properly set processes. Transparent cooperation. Predictable delivery</h6>
    </div>
  </div>
</div>
