.fixed-header-bg{
  background: #00000081;
  backdrop-filter: blur(200px);
  @apply shadow shadow-borderPrimary;
}


// mobile nav styles
.mobile-nav-bg {
    background: #212121ab;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-nav-links:hover {
    background: linear-gradient(90deg, #00B3B3 0%, #006D6D 100%);
}
