<header class="w-full overflow-x-clip top-0 left-0" [ngClass]="isScrolled? 'fixed-header-bg': '' "   [ngStyle]="{'position': isScrolled ? 'fixed' : 'relative','z-index':isScrolled? 50:0}" >
  <div class="flex justify-between items-center w-full container mx-auto p-2 md:p-4 ">
    <img src="/mattrika_logo.png" alt="" class="w-40 lg:w-48 cursor-pointer" routerLink="/">
    <button id="menuButton" class="text-4xl bx bx-menu md:hidden" (click)="ToggleMobileNav()"></button>

    <div class="hidden md:flex space-x-4">
      <a class="text-2xl leading-relaxed font-semibold cursor-pointer" routerLink="/" fragment="home" >Home</a>
      <a class="text-2xl leading-relaxed font-semibold cursor-pointer" routerLink="/" fragment="services">Services</a>
      <a class="text-2xl leading-relaxed font-semibold cursor-pointer" routerLink="/" fragment="projects">Projects</a>
      <a class="text-2xl leading-relaxed font-semibold cursor-pointer" routerLink="/" fragment="team">Team</a>
      <button class="text-2xl leading-relaxed font-semibold btn-bg px-5 rounded-full cursor-pointer" routerLink="/" fragment="contact-us">Contact</button>
    </div>
  </div>
</header>



<!-- mobile nav drawer -->
<div class="fixed top-0 -left-full mobile-nav-bg w-full sm:w-80 h-full rounded-tr-xl rounded-br-xl py-2.5 transition-all duration-300 ease-linear z-50" #mobileNavDrawer id="mobileNavDrawer">
  <div class="flex justify-between sm:justify-center items-center px-4 w-full">
    <img src="/mattrika_logo.png" alt="" class="w-40" routerLink="/">
    <button class="text-4xl bx bx-x sm:hidden" (click)="ToggleMobileNav()"></button>
  </div>

  <div class="mt-6 text-center">
    <a class="text-2xl leading-relaxed font-semibold block mobile-nav-links" routerLink="/" fragment="home" (click)="closeMobileNav()">Home</a>
    <a class="text-2xl leading-relaxed font-semibold block mobile-nav-links" routerLink="/" fragment="services" (click)="closeMobileNav()">Services</a>
    <a class="text-2xl leading-relaxed font-semibold block mobile-nav-links" routerLink="/" fragment="projects" (click)="closeMobileNav()">Projects</a>
    <a class="text-2xl leading-relaxed font-semibold block mobile-nav-links" routerLink="/" fragment="team" (click)="closeMobileNav()">Team</a>
    <a class="text-2xl leading-relaxed font-semibold block mobile-nav-links" routerLink="/" fragment="contact-us" (click)="closeMobileNav()">Contact</a>
  </div>
</div>
