<section class="body-font bg-gray-200 text-gray-600">
    <div class="container mx-auto px-5 py-24">
        <div class="-m-4 flex flex-wrap text-center">
            <div class="w-1/2 p-4 sm:w-1/4">
                <h2 class="title-font text-3xl font-medium text-gray-900 sm:text-4xl">2023</h2>
                <p class="leading-relaxed">Launched</p>
            </div>
            <div class="w-1/2 p-4 sm:w-1/4">
                <h2 class="title-font text-3xl font-medium text-gray-900 sm:text-4xl">3+</h2>
                <p class="leading-relaxed">Current Projects</p>
            </div>
            <div class="w-1/2 p-4 sm:w-1/4">
                <h2 class="title-font text-3xl font-medium text-gray-900 sm:text-4xl">5</h2>
                <p class="leading-relaxed">Team Members</p>
            </div>
            <div class="w-1/2 p-4 sm:w-1/4">
                <h2 class="title-font text-3xl font-medium text-gray-900 sm:text-4xl">100%</h2>
                <p class="leading-relaxed">Remote Workforce</p>
            </div>
        </div>
    </div>
</section>
