<section class="bg-gray-200 text-gray-600 body-font">
    <div class="mx-auto px-5 py-24 container">
        <div class="flex flex-wrap -m-4 text-center">
            <div class="p-4 w-1/2 sm:w-1/4">
                <h2 class="font-medium text-3xl text-gray-900 sm:text-4xl title-font">2023</h2>
                <p class="leading-relaxed">Launched</p>
            </div>
            <div class="p-4 w-1/2 sm:w-1/4">
                <h2 class="font-medium text-3xl text-gray-900 sm:text-4xl title-font">3+</h2>
                <p class="leading-relaxed">Current Projects</p>
            </div>
            <div class="p-4 w-1/2 sm:w-1/4">
                <h2 class="font-medium text-3xl text-gray-900 sm:text-4xl title-font">5</h2>
                <p class="leading-relaxed">Team Members</p>
            </div>
            <div class="p-4 w-1/2 sm:w-1/4">
                <h2 class="font-medium text-3xl text-gray-900 sm:text-4xl title-font">100%</h2>
                <p class="leading-relaxed">Remote Workforce</p>
            </div>
        </div>
    </div>
</section>
