<div class="flex w-full flex-col flex-wrap items-center text-center">
    <h1 class="title-font mb-2 text-2xl font-medium text-gray-900 sm:text-3xl">CONTACT US</h1>
</div>
<section class="body-font relative text-gray-600">
    <div class="container mx-auto flex flex-wrap px-5 py-24 sm:flex-nowrap">
        <div
            class="relative flex min-h-[50vh] w-full items-end justify-start overflow-hidden rounded-lg bg-gray-300 p-10"
        >
            <iframe
                width="100%"
                height="100%"
                class="absolute inset-0"
                frameborder="0"
                title="map"
                marginheight="0"
                marginwidth="0"
                scrolling="no"
                src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=Kishoreganj,Bangladesh&ie=UTF8&t=&z=14&iwloc=B&output=embed"
                style="filter: grayscale(1) contrast(1.2) opacity(0.4)"
            ></iframe>
            <div class="relative flex flex-wrap rounded bg-white py-6 shadow-md">
                <div class="px-6 lg:w-1/2">
                    <h2 class="title-font text-xs font-semibold tracking-widest text-gray-900">ADDRESS</h2>
                    <p class="mt-1">673/1, Harua Boubazar, Kishoreganj, Bangladesh -2300</p>
                    <h2 class="title-font mt-4 text-xs font-semibold tracking-widest text-gray-900">SOCIAL</h2>
                    <a href="https://www.linkedin.com/company/mattrikatech" class="leading-relaxed text-teal-500">
                        linkedin.com
                    </a>
                    <span class="mx-2">|</span>
                    <a href="https://www.facebook.com/MattrikaTech" class="leading-relaxed text-teal-500">
                        facebook.com
                    </a>
                </div>
                <div class="mt-4 px-6 lg:mt-0 lg:w-1/2">
                    <h2 class="title-font text-xs font-semibold tracking-widest text-gray-900">EMAIL</h2>
                    <a href="mailto:info@mattrika.com" class="leading-relaxed text-teal-500"> info&#64;mattrika.com </a>
                    <h2 class="title-font mt-4 text-xs font-semibold tracking-widest text-gray-900">PHONE</h2>
                    <p class="leading-relaxed">+880 176 999 0300</p>
                </div>
            </div>
        </div>
    </div>
</section>
