<section class="bg-white">
    <h1 class="text-gray-800 text-center text-4xl p-4">Frequently asked question</h1>
    <dui-accordion>
        <dui-accordion-expansion [alwaysOpen]="true" className="mb-2 rounded-lg border border-blue-gray-100 px-4">
            <dui-accordion-header
                title="I need to develop an application - where do I start?"
                className="border-b-0 transition-colors text-blue-500 hover:!text-blue-700"
            >
            </dui-accordion-header>
            <dui-accordion-body className="pt-0 text-base font-normal">
                We're not always in the position that we want to be at. We're constantly growing. We're constantly
                making mistakes. We're constantly trying to express ourselves and actualize our dreams.
            </dui-accordion-body>
        </dui-accordion-expansion>
        <dui-accordion-expansion className="mb-2 rounded-lg border border-blue-gray-100 px-4">
            <dui-accordion-header title="I want to develop software. How much will it cost?"></dui-accordion-header>
            <dui-accordion-body className="pt-0 text-base font-normal">
                We&apos;re not always in the position that we want to be at. We&apos;re constantly growing. We&apos;re
                constantly making mistakes. We&apos;re constantly trying to express ourselves and actualize our dreams.
            </dui-accordion-body>
        </dui-accordion-expansion>
        <dui-accordion-expansion className="mb-2 rounded-lg border border-blue-gray-100 px-4">
            <dui-accordion-header title="Why does my project require a Business Analyst?"></dui-accordion-header>
            <dui-accordion-body className="pt-0 text-base font-normal">
                We&apos;re not always in the position that we want to be at. We&apos;re constantly growing. We&apos;re
                constantly making mistakes. We&apos;re constantly trying to express ourselves and actualize our dreams.
            </dui-accordion-body>
        </dui-accordion-expansion>
        <dui-accordion-expansion className="mb-2 rounded-lg border border-blue-gray-100 px-4">
            <dui-accordion-header title="What do I need to know before contacting you?"></dui-accordion-header>
            <dui-accordion-body className="pt-0 text-base font-normal">
                We&apos;re not always in the position that we want to be at. We&apos;re constantly growing. We&apos;re
                constantly making mistakes. We&apos;re constantly trying to express ourselves and actualize our dreams.
            </dui-accordion-body>
        </dui-accordion-expansion>
        <dui-accordion-expansion className="mb-2 rounded-lg border border-blue-gray-100 px-4">
            <dui-accordion-header
                title="I want to be involved in development process. Will it be ok?"
            ></dui-accordion-header>
            <dui-accordion-body className="pt-0 text-base font-normal">
                We&apos;re not always in the position that we want to be at. We&apos;re constantly growing. We&apos;re
                constantly making mistakes. We&apos;re constantly trying to express ourselves and actualize our dreams.
            </dui-accordion-body>
        </dui-accordion-expansion>
    </dui-accordion>
</section>
