<section class="h-1/2">
<div class="relative">
  <img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Y5OTYtMDI1LWpvYjU5OC5qcGc.jpg" alt="image description" class="w-full h-1/2 object-cover" />
  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full">
    <div class="text-center text-gray-900 text-7xl font-bold">
        <h1>About <span class="text-green-500">Mattrika</span></h1>
    </div>
    <div class="w-full p-1 grid grid-cols-6 gap-1 mt-4">
    <div class="stat text-center">
        <div class="stat-figure text-indigo-500"></div>
        <div class="stat-value text-indigo-500 text-3xl">200+</div>
        <div class="stat-title text-xl">Total Client</div>
    </div>

    <div class="stat text-center">
        <div class="stat-figure text-indigo-500"></div>
        <div class="stat-value text-indigo-500 text-3xl">100+</div>
        <div class="stat-title text-xl">Successful Project</div>
    </div>
    <div class="stat text-center">
        <div class="stat-figure text-indigo-500"></div>
        <div class="stat-value text-indigo-500 text-3xl">70%</div>
        <div class="stat-title text-xl">Senior Enginners</div>
    </div>

    <div class="stat text-center">
        <div class="stat-figure text-indigo-500"></div>
        <div class="stat-value text-indigo-500 text-3xl">2+</div>
        <div class="stat-title text-xl">Year’s client engagement</div>
    </div>
    <div class="stat text-center">
        <div class="stat-figure text-indigo-500"></div>
        <div class="stat-value text-indigo-500 text-3xl">20+</div>
        <div class="stat-title text-xl">Countries</div>
    </div>

    <div class="stat text-center">
        <div class="stat-figure text-indigo-500"></div>
        <div class="stat-value text-indigo-500 text-3xl">100%</div>
        <div class="stat-title text-xl">Satisfaction rate</div>
    </div>
</div>
  </div>
</div>
</section>
<section>
    <div class="text-center text-gray-900 text-5xl font-bold my-10">
        <h1>Management <span class="text-blue-500">Team</span></h1>
    </div>
    <div class="w-full p-1 grid grid-cols-4 gap-1 mt-8">
        <div class="flex items-center justify-center">
  <div class="text-center">
    <img
      class="rounded-full w-32 h-32 mb-4 ml-12"
      src="https://images.prothomalo.com/prothomalo-english%2F2023-07%2F189bd66e-8e6f-42cb-acba-9f007ac9be0b%2Fprothomalo_bangla_2023_07_b221b13b_295e_4db2_94a4_2f1c17882e5f_b2498b8a_86c1_4f5e_a029_acd28e235300_.webp?rect=0%2C0%2C1280%2C720&auto=format%2Ccompress&fmt=webp&dpr=1.0&format=webp&w=480"
      alt="Profile Picture"
    />
    <h1 class="text-2xl font-bold mb-2">Sakib All Hassan</h1>
    <p class="text-gray-500">CEO</p>
  </div>
</div>

<div class="flex items-center justify-center">
  <div class="text-center">
    <img
      class="rounded-full w-32 h-32 mb-4 ml-12"
      src="https://images.prothomalo.com/prothomalo-english%2F2023-07%2F189bd66e-8e6f-42cb-acba-9f007ac9be0b%2Fprothomalo_bangla_2023_07_b221b13b_295e_4db2_94a4_2f1c17882e5f_b2498b8a_86c1_4f5e_a029_acd28e235300_.webp?rect=0%2C0%2C1280%2C720&auto=format%2Ccompress&fmt=webp&dpr=1.0&format=webp&w=480"
      alt="Profile Picture"
    />
    <h1 class="text-2xl font-bold mb-2">Sakib All Hassan</h1>
    <p class="text-gray-500">Managing Director</p>
  </div>
</div>

<div class="flex items-center justify-center">
  <div class="text-center">
    <img
      class="rounded-full w-32 h-32 mb-4 ml-12"
      src="https://images.prothomalo.com/prothomalo-english%2F2023-07%2F189bd66e-8e6f-42cb-acba-9f007ac9be0b%2Fprothomalo_bangla_2023_07_b221b13b_295e_4db2_94a4_2f1c17882e5f_b2498b8a_86c1_4f5e_a029_acd28e235300_.webp?rect=0%2C0%2C1280%2C720&auto=format%2Ccompress&fmt=webp&dpr=1.0&format=webp&w=480"
      alt="Profile Picture"
    />
    <h1 class="text-2xl font-bold mb-2">Sakib All Hassan</h1>
    <p class="text-gray-500">Head of sales</p>
  </div>
</div>

<div class="flex items-center justify-center">
  <div class="text-center">
    <img
      class="rounded-full w-32 h-32 mb-4 ml-12"
      src="https://images.prothomalo.com/prothomalo-english%2F2023-07%2F189bd66e-8e6f-42cb-acba-9f007ac9be0b%2Fprothomalo_bangla_2023_07_b221b13b_295e_4db2_94a4_2f1c17882e5f_b2498b8a_86c1_4f5e_a029_acd28e235300_.webp?rect=0%2C0%2C1280%2C720&auto=format%2Ccompress&fmt=webp&dpr=1.0&format=webp&w=480"
      alt="Profile Picture"
    />
    <h1 class="text-2xl font-bold mb-2">Sakib All Hassan</h1>
    <p class="text-gray-500">Head of Marketing</p>
  </div>
</div>

    </div>
</section>
<section>
    <div class="relative bg-white my-8 p-4">
  <div class="flex items-center justify-center">
    <div class="text-gray-800">
  <h1 class="text-center text-4xl my-4 p-2">The way we work</h1>
<div class="col-span-4 p-4">
    <div class="h-full grid grid-cols-3 grid-rows-2 gap-1">
        <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
            <div class="stat">
                <div class="stat-title text-2xl font-semibold">Technical partners</div>
                <div class="stat-value text-xl">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout </div>
            </div>
        </div>
        <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
            <div class="stat">
                <div class="stat-title text-2xl font-semibold">Agile approach</div>
                <div class="stat-value text-xl">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout </div>
            </div>
        </div>
        <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
            <div class="stat">
                <div class="stat-title text-2xl font-semibold">Secure and quality</div>
                <div class="stat-value text-xl">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout </div>
            </div>
        </div>
        <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
            <div class="stat">
                <div class="stat-title text-2xl font-semibold">Full transparency</div>
                <div class="stat-value text-xl">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout </div>
            </div>
        </div>
        <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
            <div class="stat">
                <div class="stat-title text-2xl font-semibold">Easy communication</div>
                <div class="stat-value text-xl">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout </div>
            </div>
        </div>
        <div class="col-span-1 row-span-1 hover:bg-slate-50 p-2">
            <div class="stat">
                <div class="stat-title text-2xl font-semibold">Post-release support</div>
                <div class="stat-value text-xl">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

</section>

