<div class="container mx-auto px-4 relative">
  <img src="./../../../../../assets/texture-1.png" alt="" class="w-[120rem] h-[70rem] absolute -left-[40rem] -top-[24rem] opacity-25 -z-50">

  <div class="section-title">
    <h2 class="py-2">FAQ</h2>
    <p>Do you have any additional questions or concerns?</p>
  </div>

  <!-- Loop through FAQ content -->
  @for (item of FaqContent; track $index) {

  <div class="md:w-5/6 mx-auto">
    <hr class="border-t border-gray-300 opacity-40 my-3">
    <div class="flex justify-between items-center gap-2 cursor-pointer" (click)="togleAnswer(answer, plusIcon)">
      <p class="text-base md:text-xl">{{ item.question }}</p>
      <span class="font-semibold text-3xl transition-all ease-linear duration-200" #plusIcon>+</span>
    </div>
    <div class="faq-answer max-h-0 overflow-hidden transition-all ease-out duration-500" #answer>
      <p class="my-6">
        {{ item.answer }}
      </p>
    </div>
  </div>

  }
</div>
